.form {
  // 只要不是最后一个
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    display: block; // 这里为了让每一行都独占一行 同时为了设置宽度等
    width: 90%;
    font-size: 1.5rem;
    font-family: inherit; // input的元素不能继承 所以手动
    color: inherit; // input的元素不能继承 所以手动
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: none; // 去掉那个外框
    border-bottom: 3px solid transparent; // 先透明，下面主色
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;
    }
    // 这里验证不对，就是这个效果
    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }
    // 这里设置的是你输入框内的字体颜色
    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }
  &__label {
    display: block; // 这样才能设置margin等
    margin-left: 2rem;
    margin-top: 0.7rem;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.3s;
  }
  // 选择所有显示占位符 (placeholder) 的元素
  // + 这里用了一个相邻兄弟选择器
  // 条件1 第2个紧跟第1个元素之后 条件2 共同的父元素 缺一不可
  &__input:placeholder-shown + &__label {
    opacity: 0; // 隐形 （这里为什么还要用这个，是因为opacity可以设置动效
    visibility: hidden; // 不可见
    transform: translateY((-4rem)); // 这里为了让动效有一种从上而下的感觉
  }

  &__radio-group {
    display: inline-block; // 为了设置宽 而且并不想让占据一行
    width: 49%; // 用50%这里会被换行
  }
  //   隐藏现有按钮的样式，自己添加自己的
  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }
  &__radio-button {
    display: inline-block;
    position: absolute; // 固定一下，为了自制bottom
    top: -0.4rem;
    left: 0;
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    &::after {
      content: '';
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      // 居中开始
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0; // 1-a 默认是隐藏的 除非你选中！
      transition: opacity 0.2s;
    }
  }
  // input和span目前是要求一致的
  // 当__radio-input被check之后
  // 他的兄弟 __radio-label 元素下的 __radio-button::after 可见性是1
  // 这里相当于先找兄弟 → 兄弟下儿子 → 儿子的after
  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
