/* 基本会把充值放在*，其实有些老师不建议。说放在html或者:root这样 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* 这里从为什么 border-box 变成了强制继承inherit
       因为首先box-sizing这个属性无法继承
       所以全局设置成了 可以继承 然后在body里设置 border-box 就达到了全局效果
       */
  box-sizing: inherit;
}

html {
  /* ❓这里的百分比怎么算的呢？ */
  /* 其实这里打算所有的都统一成rem，为了让所有的子元素都便于计算
      所以打算给根元素font-size来一个10px
      但是这样写死了之后，就无法随着浏览器的大小改变了。浏览器默认的是16px
      所以这里使用的是 【10px / 浏览器默认大小(16px) = 62.5%】  */
  /* 这样就可以随着浏览器默认值的大小 随意改变网页大小了 */
  font-size: 62.5%;
}
/* 这里经常放一些字体 因为字体基本上都有继承性。为什么不放在html？
    因为你会发现body下面才是内容 这样继承下来才更有意义。 */
body {
  box-sizing: border-box;
}
