body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* 相当于是16px*1.7 */
  line-height: 1.7;
  /* 三个数字越大 越浅 */
  color: $color-grey-dark;
  /* padding不会被继承 */
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  /* 抗震动 主要是动画的 这个很少见 */
  backface-visibility: hidden;
  /* 为了跟按钮保持距离 */
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    /* transform: translate(0); */
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    /* animation-iteration-count: 3; 会发生三次 */
    /* animation-delay: 3s; 这是一个延迟 */
  }
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  // 为了不占据整行 内容撑起
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-grey-dark
  );
  // 就像剪贴画囍字镂空那样
  -webkit-background-clip: text;
  background-clip: text;
  // 背景透明才能表现出镂空 和楼上配合
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  // 一个简单的效果
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  // 不是最后一个元素有下边距
  // 记住是不是最后元素，不是最后一个paragraph的话是
  // :last-of-type 和这个要区分一下
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
